.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 80%;
  color: #6a8366;
  position: absolute;
  left: 13vw;
  top: 5vw;

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 2vw;
  }
}
